<!DOCTYPE html>
{%  extends 'accounts/main.html' %}

{% block content %}

		<br>

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>商品</h5>
				</div>
				<div class="card card-body">
					<table class="table">
						<tr>
							<th>商品</th>
							<th>カテゴリー</th>
							<th>価格</th>
						</tr>

						{% for i in products %}
							<tr>
							<td>{{i.name}}</td>
							<td>{{i.get_category_display}}</td>
							<td>{{i.price}}円</td>
							</tr>
						{% endfor %}
						
					</table>
				</div>
			</div>
			
		</div>

{% endblock content %}